/saved_pictures/
/saved_pictures_bb/
/__pycache__
/auth/key.json
i-Plant Village Disease-96.48.h5
i-WO Singkong - Split-98.65.h5
i-Singkong Only b0 - 2-90.30.h5
i-WONangkaSeladaSingkong-Cleaned-456-98.81.h5
i-RealData-Cleaned-456-98.84.h5